.photo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.p_photo-holder{
    //background-color: #f9f8ff;
    //padding: 15px;
    width:255px;
    border-radius: 15px;
    margin: 0 12px 36px;
    display: flex;
    flex-direction: column;
}
.p-photo{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    overflow: hidden;
    align-self: center;
    margin-bottom: 12px;
}
.p-intro{
    margin-bottom: 6px;
    color: #bdb7ca;
}
.col-grey{
    color: #84809e;
}
.col-blue{
    //color: #163ddc;
    color: #0b31cc;
    font-weight: 600;
}
.inform{
    margin: 10px auto;
    color: #F16B6F;
    font-size: 14px;
    text-align: center;
    padding: 18px;
    background: #ffebcd;
    border-radius: 9px;
    width:75%;
    max-width: 550px;
}
.p-box{
    padding: 10px;
    background-color: #f9f8ff;
    border-radius: 2px;
    position: relative;
}

/*@mixin success--mm() {
    .photo-container{
        justify-content: center;
    }
}*/
