.heading{
	//font-size:50px;
	color: #272d38;
}
.sub-heading{
    font-size: 20px;
    //font-weight:500;
	line-height: 32px;
	letter-spacing: .03em;
}
.small-heading{
	font-size:25px;
}

@mixin heading--sm(){
	.heading{
		font-size: 25px;
		font-weight:500;
	}
}

@mixin sub-heading--sm(){
	.sub-heading{
		font-size: 18px;
		line-height: 28px;

	}
}

@mixin small-heading--sm(){
	.small-heading{
		font-size:18px;
	}
}
